.
.DS_Store

config/fish
config/github-copilot/apps.json
config/karabiner/automatic_backups
config/uv/
config/bpytop/error.log
config/gcloud
config/gcloud/*
config/containers/podman/machine/applehv/podman-machine-default.ign
config/containers/podman/machine/applehv/podman-machine-default.json
config/containers/podman-connections.json
config/containers/podman-connections.json.lock

config/github-copilot/auth.db
config/github-copilot/auth.db-shm
config/github-copilot/auth.db-wal
config/github-copilot/copilot-intellij.db
config/github-copilot/iu/

.aider*
.composer/vendor
